/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
html {
  height: 100%;
}

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  height: 100%;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  /* margin-top: 20px; */
  margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}

/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner {
  border: 0;
}

/* Downsize the brand/project name a bit */
.navbar .brand {
  padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
  padding: 15px 20px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
  margin-top: 30px;
}

.feature {
  background: none repeat scroll 0% 0% #e74c3c;
  border: 8px solid #e74c3c;
  padding: 40px;
  font-size: 64px;
  display: inline-block;
  color: white;
  border: 8px solid;
  transition: all 0.2s ease-out 0s;
  list-style: none outside none;
}

.feature:hover {
  color: #e74c3c;
  background: none repeat scroll 0% 0% rgb(255, 255, 255);
}

.cleartopbar {
    padding-top: 150px;
}

.cleartopbar-small {
    padding-top: 100px;
}

.navbar-wrapper .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  width: 100%;
}

.navbar-inner {
  border-radius: 0px;
  height: 90px;
}

.navbar .nav > li > a:hover {
    color: #fff;
    border-bottom: 3px #fff solid;
}

.navbar {
    font-size: 25px;
}

.nav {
    top: 36px;
}

footer {
    background-color: #fff;
    color: #5a5a5a;
    padding-top: 30px;
}

.footer-banner {
    min-height: 0px;
}

.form-actions {
    border-top: 0;
    background-color: transparent;
}

.btn.btn-success {
    background-color: #e74c3c;
}

.btn.btn-success:hover {
    background-color: #1abc9c;
}

.nav .active a {
    color: #fff;
    border-bottom: 3px #fff solid;
}

.legal-numbers {
    color: white;
    font-weight: bold;
}

.we-do h3 {
    color: #E74C3C;
    font-size: 30px;
}

.we-do ul {
    list-style-type: none;
    margin-left: 0px;
}

.we-do ul li {
    margin-top: 5px;
}

.we-do ul li:before {
    content: '>  ';
}

.we-do ul li a {
    text-decoration: none;
}

.we-do ul li a:hover {
    text-decoration: underline;
    color: #E74C3C;
}

.project-block {
    margin-top: 35px;
}

.project h3 {
    color: #E74C3C;
    font-size: 30px;
    text-align: left;
    margin-bottom: 0px;
}

.project div.tech {
    color: grey;
    text-align: left;
    margin-bottom: 15px;
    font-size: 15px;
}

.project div.description {
    text-align: left;
}

#header-logo {
    background: url("/static/img/brand.png") no-repeat scroll 0 0 transparent;
    width: 324px;
    height: 60px;
}

#header-logo:hover {
    background: url("/static/img/brand-hover.png") no-repeat scroll 0 0 transparent;
    width: 324px;
    height: 60px;
}

.nav-collapse.in.collapse {
    background-color: #E74C3C;
}

.navbar .nav-collapse .nav > .active > a {
    color: white;
}

.nav-collapse .nav {
    margin: 0 0 30px;
}

a {
    color: #1ABC9C;
}

a:hover, a:focus {
    color: #E74C3C;
}

.about {
    text-align: center;
    padding-bottom: 90px;
}

.about h2 {
    padding-top: 15px;
}

.search-filter {
    padding-top: 50px;
}

.contribution {
    padding-top: 10px;
}

.posts {
    list-style-type: none;
    font-size: 22px;
}

.posts li {
    padding-bottom: 3px;
}

.home-posts {
    padding-top: 150px;
}

#post {
    font-size: 20px;
    line-height: 30px;
}

#post ul li {
    line-height: 30px;
}

.contact-footer {
    padding-left: 100px;
}

pre {
    background-color: transparent;
}

.lab-posts {
    line-height: 1.8;
    padding-bottom: 80px;
}

#contributions {
    line-height: 1.8;
}

#tag-cloud {
    padding-bottom: 80px;
}

.navbar-wrapper {
    z-index: 500;
}

.well {
    background-color: none;
    border: none;
    box-shadow: none;
}

.features {
    padding-top: 100px;
    padding-bottom: 100px;
}

.features .span4 {
    text-align: center;
}

.project-links {
    font-size: 0.9em;
    padding-top: 30px;
}

.project-image {
    padding-top: 20px;
}

.project-desc {
    padding-top: 20px;
}

.big {
    padding-top: 120px;
    padding-bottom: 40px;
}

.big h1 {
    text-transform: uppercase;
    font-size: 200px;
    line-height: 0.8em;
}

#wrapper {
    width: 100%;
    height: 100%;
    margin: 0px;
}

#wrapper2 {
    background-color: #5a5a5a;
    width: 100%;
    color: white;
}

#wrapper2 a {
    color: white;
}


/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 1300px) {
    .contact-footer {
        padding-left: 10px !important;
    }
}

@media (max-width: 1035px) {
    .nav li a {
        font-size: 20px;
    }

    .big h1 {
        font-size: 150px;
    }
}

@media (max-width: 979px) {
  .navbar-wrapper {
      padding-top: 10px;
  }

  .contact-footer {
      padding-left: 10px !important;
  }

  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }

  .navbar-inner {
    border-radius: 0;
    margin: -20px 0;
  }

  .big h1 {
      font-size: 140px;
  }
}

@media (max-width: 767px) {
  .navbar-inner {
    margin: -20px;
  }

  .image-link {
    width: 500px;
  }

  .search-query {
      padding: 0 !important;
      width: 20%;
  }

  .big h1 {
      font-size: 80px;
  }
}

@media (max-width: 500px) {
  .big h1 {
      font-size: 70px;
  }
}

@media (max-width: 400px) {
    #header-logo {
        background: url("/static/img/brand-small.png") no-repeat scroll 0 0 transparent !important;
        width: 162px !important;
        height: 30px !important;
        margin-top: 20px;
    }

    .contact-footer {
        padding-left: 10px !important;
    }

    .big h1 {
        font-size: 60px;
    }
}
