{% extends 'base.html' %}

{% block content %}
    <div class="row about">
        <div class="span10">
            <h1>What is Taikoa?</h1>
            <hr />

            <p>
                Taikoa is a young but experienced software company made from evolution.
            </p>

            <p>
                We create modern products of our own but also apply our techniques to give our clients the best
                experience and quality.
            </p>

            <p>
                Taikoa is the finnish word for magic.

                <blockquote>
                    <strong>Any sufficiently advanced technology is indistinguishable from magic</strong> - <a href="http://en.wikipedia.org/wiki/Clarke%27s_three_laws">Arthur C. Clarke</a>.
                </blockquote>
            </p>

            <h2>Who is behind Taikoa?</h2>

            <hr />

            <p>I am Javier Aguirre, <a href="http://twitter.com/javaguirre">javaguirre</a>, Founder of Taikoa. <a href="/about/me">Read more about me</a>
            </p>
        </div>
    </div>
{% endblock %}
