{% extends 'base.html' %}

{% block carousel %}
    <div class="cleartopbar">
    </div>
{% endblock %}

{% block content %}
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="span4">
        <div class='feature'>
            <span class="fui-checkmark-24"></span>
        </div>
      <h2>From advice to complete solutions</h2>
      <p>From web services to mobile apps, complex backend and frontend applications and API development.</p>
    </div><!-- /.span4 -->
    <div class="span4">
        <div class='feature'>
            <span class="fui-settings-24"></span>
        </div>
      <h2>Systems Control</h2>
      <p>We have a wide experience configuring servers and system based on the GNU/Linux Stack. We have made hardware projects with Arduino and the Raspberry PI.</p>
    </div><!-- /.span4 -->
    <div class="span4">
        <div class='feature'>
            <span class="fui-bubble-24"></span>
        </div>
      <h2>Technology</h2>
      <p>We use different technologies to solve different problems. From Python, Javascript...
        We use Agile methodologies and Continuous Integration to keep our code stable and a good quality in order to build the thing right
        Client is first, we provide a ticket system to get feedback from the client in order to built the right thing
      </p>
    </div><!-- /.span4 -->
  </div><!-- /.row -->
<div class='row'>
    <div class="span10">
        <h3>About</h3>
            <div class="span3">
                <img class="gravatar" src="http://www.gravatar.com/avatar/0178b9de7d66dc3bce5b8d899f7508ad?s=100&d=mm" alt="javaguirre"/>
            </div>
            <div class="span6">

                <strong>Javier Aguirre Iglesias</strong> known as <em>javaguirre</em>. He knows
                a lot of python, javascript, web development and cloud system
                deployment and management.

            </div>
            <div class="span3 personal-links">
                <a href="http://github.com/javaguirre" class="github-icon">github</a>
                <a href="http://javaguirre.net" class="blog-icon">blog</a>
                <a href="http://twitter.com/javaguirre" class="twitter-icon">twitter</a>
            </div>
        </div>
    </div>
{% endblock %}
