{% extends 'base.html' %}

{% block carousel %}
    <div class="cleartopbar">
    </div>
{% endblock %}

{% block content %}
<div class="row">
    <h2>About me</h2>
    <p>
        Hi, I am Javier Aguirre, Software hacker and Founder of Taikoa.
        I love what I do, that's why I always search for better ways of
        improve my skills, learning new technologies, searching for better ways
        to test my code and enhancing productivity.
    </p>
    <p>
        I have a wide experience building software solutions from top to bottom , with
        complex parts in the backend, but also with complex Javascript parts for modern
        applications.
    </p>
    <p>
        I contribute to Free Software releasing my developments when I can, you can look at them
        in <a href='https://github.com/javaguirre'>Github</a> or <a href='https://bitbucket.org/javaguirre'>BitBucket</a>.
    <p>
    <h2>Experience</h2>
    <div class="row">
        <div class="offset1 span2"><em>May 2013 - Now</em></div>
        <div class="span6">
            Founder and Software Hacker in <a href='http://taikoa.net'>Taikoa</a></p>
        </div>
    </div>
    <div class="row">
        <div class="offset1 span2"><em>November 2012 - May 2013</em></div>
        <div class="span6">
            Co-Founder and Software Developer in <a href='http://wadobo.com'>Wadobo</a>
        </div>
    </div>
    <div class="row">
        <div class="offset1 span2"><em>July 2012 - November 2012</em></div>
        <div class="span6">
 Software Development as a Freelance, working in a project built with <strong>PHP</strong>, <strong>Symfony</strong>, <strong>AngularJS</strong> and other with <strong>Python</strong>, <strong>Django</strong>, <strong>AngularJS</strong>.
        </div>
        <div class="span4">
            PHP, Symfony, AngularJS, Python
        </div>
    </div>

    <div class="row">
        <div class="offset1 span2"><em>June 2011 - July 2012</em></div>
        <div class="span6">
 Head of Development at <a href='http://gigas.com'>Gigas Hosting</a>. Backend and billing built with <strong>django</strong>, website with <strong>PHP</strong>, APIs with <strong>Tornado/Python libraries</strong>. Test framework in <strong>Flask and Selenium</strong>. <strong>Git</strong>.
        </div>
        <div class="span4">
            Django, Flask, Tornado, PHP, Selenium
        </div>
    </div>

    <div class="row">
        <div class="offset1 span2"><em>February 2011 - August 2011</em></div>
        <div class="span6">
 Founder and Software developer at <em>Imatiiva Software</em>. .
        </div>
        <div class="span4">
            <strong>PHP, Python, Symfony, Django, Git</strong>
        </div>
    </div>

    <div class="row">
        <div class="offset1 span2"><em>February 2011 - July 2011</em></div>
        <div class="span6">
 Data Mining web service using js charts from Google, jQPlot and RaphaelJs, <a href='http://lemi.uc3m.es'>University Carlos III</a>.
        </div>
        <div class="span4">
            <strong>PHP, Symfony, Git, LAMP</strong>
        </div>
    </div>

    <div class="row">
        <div class="offset1 span2"><em>February 2010 - February 2011</em></div>
        <div class="span6">
 Lead developer at <a href='http://callejero.com'>Callejero.com</a> at Interdominios. Madrid.
        </div>
        <div class="span4">
            <strong>PHP, Symfony, Git, LAMP</strong>
        </div>
    </div>
    <div class="row">
        <div class="offset1 span2"><em>September 2010 - June 2011</em></div>
        <div class="span6">
 Development/Administrator and organizator at <a href='http://cuslmadrid.org'>Madrid Software Libre University Contest</a>&lt;/a&gt;. , Madrid.
        </div>
        <div class="span4">
            <strong>PHP, Symfony, Git, LAMP</strong>
        </div>
    </div>
    <div class="row">
        <div class="offset1 span2"><em>January 2009 &#8211; April 2009</em></div>
        <div class="span6">
 Organization of the <a href='http://solfa.us.es/ConocimientoLibre'>I Conferences of Conocimiento Libre</a> at <em>University of Seville</em>.
        </div>
        <div class="span4">
        </div>
    </div>
    <div class="row">
        <div class="offset1 span2"><em>June 2008 &#8211; June 2009</em></div>
        <div class="span6">
 <a href='http://concursosoftwarelibre.org'>Organization and development at the III and IV Spanish Software Libre University Contest</a> , Seville.
        </div>
        <div class="span4">
            <strong>Drupal, LAMP, SVN</strong>
        </div>
    </div>
</div>
{% endblock %}
