{% extends 'base.html' %}

{% block carousel %}
    <div class="cleartopbar">
    </div>
{% endblock %}

{% block content %}
<div class='row'>
    <div class="span10">
        <h3>About</h3>
            <div class="span3">
                <img class="gravatar" src="http://www.gravatar.com/avatar/0178b9de7d66dc3bce5b8d899f7508ad?s=100&d=mm" alt="javaguirre"/>
            </div>
            <div class="span6">

                <strong>Javier Aguirre Iglesias</strong> known as <em>javaguirre</em>. He knows
                a lot of python, javascript, web development and cloud system
                deployment and management.

            </div>
            <div class="span3 personal-links">
                <a href="http://github.com/javaguirre" class="github-icon">github</a>
                <a href="http://javaguirre.net" class="blog-icon">blog</a>
                <a href="http://twitter.com/javaguirre" class="twitter-icon">twitter</a>
            </div>
        </div>
    </div>
{% endblock %}
