{% extends 'base.html' %}

{% block content %}
    <h1>Contact</h1>
    <hr />
    <form class="form-horizontal" method="post" action="/contact_form">
        <div id="div_id_name" class="clearfix control-group">
            <label for="id_name" class="control-label requiredField">
                Name or company<span class="asteriskField">*</span></label>
            <div class="controls">
                <input id="id_name" type="text" name="company" maxlength="30" /><p id="hint_id_name" class="help-block">Required. from 3 to 30 chars. </p>
            </div>
        </div>
        <div class="clearfix control-group">
            <label class="control-label requiredField">
                Your contact email<span class="asteriskField">*</span>
            </label>
            <div class="controls">
                <input id="id_email" type="text" name="email" />
                <p id="hint_id_email" class="help-block">Required.  Example: name@example.com</p>
            </div>
        </div>
        <div id="div_id_subject" class="clearfix control-group">
            <label for="id_subject" class="control-label requiredField">
                How can we help you?<span class="asteriskField">*</span>
                </label>
            <div class="controls">
                <input id="id_subject" type="text" class="textinput textInput" name="subject" maxlength="200" />
                <p id="hint_id_subject" class="help-block">Required. from 5 to 200 chars. </p>
            </div>
        </div>
        <div id="div_id_message" class="clearfix control-group">
            <label for="id_message" class="control-label requiredField">
                Comments<span class="asteriskField">*</span>
            </label>
            <div class="controls">
                <textarea rows="10" cols="40" name="message" class="textarea"></textarea>
                <p id="hint_id_message" class="help-block">Required. 5 chars min. </p>
            </div>
        </div>
        <div class="form-actions">
            <div class="span2">
                <input type="submit"
                       name="submit"
                       value="Send"
                       class="btn btn btn-success btn-large btn-block"
                       id="submit-id-submit"
                       />
            </div>
        </div>
    </form>
{% endblock %}
