{% extends 'base.html' %}

{% block carousel %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="/static/img/slide-01.png" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Building software is like magic</h1>
              <p class="lead">We provide web, mobile, desktop good quality and well tested software solutions</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/static/img/slide-02.png" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>It's all about design</h1>
              <p class="lead">We build beautiful applications with a wide experience in design and frontend technologies</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/static/img/slide-02.png" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Quality and stability</h1>
              <p class="lead">The quality of our software is key, we have our own test and continuous integration environment to keep the quality of the code while building new features</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
{% endblock %}

{% block content %}
{% endblock %}
