{% extends 'base.html' %}

{% block carousel %}
    <div class="cleartopbar">
    </div>
{% endblock %}

{% block content %}
FLOSS Projects and contributions {free-software-projects}
==============

You can find my most recent projects and contributions in [Github](https://github.com/javaguirre) and [BitBucket](https://bitbucket.org/javaguirre).

* **Drupal Module Development** for [Concurso Universitario de Software Libre](http://www.concursosoftwarelibre.org/), **PHP, jQuery, Drupal 5**. [Code](https://forja.rediris.es/plugins/scmsvn/viewcvs.php/web/modules/?root=csl-cusladmin)
* **Cuslmadrid.org** - Concurso de Software Libre de Madrid web development. **Symfony, PHP.** [Code](https://github.com/javaguirre/cusl-madrid)
* **Sabrosous** - Delicious-like service with BuiltWith capabilities. **Python, Django, Backbone**. [Code](https://github.com/javaguirre/sabrosous)
* **OpenBOE** - Retrieve information about spanish boe in a better human readable way. **Python, Flask, Backbone** [Code](https://github.com/javaguirre/openboe)
* **Gramophone** - Simple music server. **Python, Flask, Backbone** [Code](https://github.com/javaguirre/gramophone)
* **Theme Roller jQuery Mobile** - Google font functionality for Theme Roller. **PHP, jQuery** [Code](https://github.com/javaguirre/web-jquery-mobile-theme-roller)
* **Static Gallery Generator** - Small web service for static gallery generation. **Python, Jinja** [Code](https://github.com/javaguirre/static_gallery_generator)
* **Rainbow.js** - Simple syntax highlighting library written in javascript. **Javascript** [Code](https://github.com/javaguirre/rainbow)
* **Agora** - Agora Ciudadana implemented using python and django. **Python, Django, Backbone** [Code](https://github.com/javaguirre/agora-ciudadana)
* **MiniSub** - Mini Player for Subsonic. **Javascript** [Code](https://github.com/javaguirre/MiniSub)
* **more**...

    <script type="text/template" class="template">
        <% _.each(items, function(item) { %>
            <li>
                <a href="https://github.com/<%= item.repo.name %>" target="_blank">
                    <%= item.repo.name.split("/")[1] %>
                </a>: <%= item.payload.commits[0].message %> -
                <%= item.created_at %>
            </li>
         <% }); %>
    </script>
    <div >
        <ul id="contributions"></ul>
    </div>

    <div class="cleartopbar">
    </div>

    <script type="text/javascript" charset="utf-8">
        $(function() {
            // We could add more events
            $.get('https://api.github.com/users/javaguirre/events', function(data) {
                var target = $('#contributions');
                var items = _.filter(JSON.parse(data), function(elem) {
                    return elem.type == 'PushEvent';
                });
                var template = _.template($('script.template').html());
                var templateData = {
                    items: items
                };
                target.append(template(templateData));
            });
        });
    </script>
{% endblock %}
