{% extends 'base.html' %}

{% block carousel %}
    <div class="cleartopbar">
    </div>
{% endblock %}

{% block content %}
<h1 id='free-software-projects'>FLOSS Projects and contributions</h1>

<ul>
    <li><strong>Drupal Module Development</strong> for <a href='http://www.concursosoftwarelibre.org/'>Concurso Universitario de Software Libre</a>, <strong>PHP, jQuery, Drupal 5</strong>. <a href='https://forja.rediris.es/plugins/scmsvn/viewcvs.php/web/modules/?root=csl-cusladmin'>Code</a></li>
    <li><strong>Cuslmadrid.org</strong> - Concurso de Software Libre de Madrid web development. <strong>Symfony, PHP.</strong> <a href='https://github.com/javaguirre/cusl-madrid'>Code</a></li>
    <li><strong>Sabrosous</strong> - Delicious-like service with BuiltWith capabilities. <strong>Python, Django, Backbone</strong>. <a href='https://github.com/javaguirre/sabrosous'>Code</a></li>
    <li><strong>OpenBOE</strong> - Retrieve information about spanish boe in a better human readable way. <strong>Python, Flask, Backbone</strong> <a href='https://github.com/javaguirre/openboe'>Code</a></li>
    <li><strong>Gramophone</strong> - Simple music server. <strong>Python, Flask, Backbone</strong> <a href='https://github.com/javaguirre/gramophone'>Code</a></li>
    <li><strong>Theme Roller jQuery Mobile</strong> - Google font functionality for Theme Roller. <strong>PHP, jQuery</strong> <a href='https://github.com/javaguirre/web-jquery-mobile-theme-roller'>Code</a></li>
    <li><strong>Static Gallery Generator</strong> - Small web service for static gallery generation. <strong>Python, Jinja</strong> <a href='https://github.com/javaguirre/static_gallery_generator'>Code</a></li>
    <li><strong>Rainbow.js</strong> - Simple syntax highlighting library written in javascript. <strong>Javascript</strong> <a href='https://github.com/javaguirre/rainbow'>Code</a></li>
    <li><strong>Agora</strong> - Agora Ciudadana implemented using python and django. <strong>Python, Django, Backbone</strong> <a href='https://github.com/javaguirre/agora-ciudadana'>Code</a></li>
    <li><strong>MiniSub</strong> - Mini Player for Subsonic. <strong>Javascript</strong> <a href='https://github.com/javaguirre/MiniSub'>Code</a></li>
    <li><strong>more</strong>&#8230;</li>
</ul>

<h1>Talks</h1>
<ul>
    <li><a href='http://slides.javaguirre.net/crafty-slides-videogame'>Taller de videojuegos con HTML5 y Javascript</a></li>
    <li><a href='http://slides.javaguirre.net/git-github/'>Introducción a Git y Github</a></li>
    <li><a href='http://slides.javaguirre.net/flask-slides/'>Introducción a Flask</a></li>
    <li><a href='http://slides.javaguirre.net/guluc3m-api-js/'>API Javascript HTML5</a></li>
    <li><a href='http://slides.javaguirre.net/python3/'>Python 3: La evolución de Python</a></li>
</ul>
    <script type="text/template" class="template">
        <% _.each(items, function(item) { %>
            <li>
                <a href="https://github.com/<%= item.repo.name %>" target="_blank">
                    <%= item.repo.name.split("/")[1] %>
                </a>: <%= item.payload.commits[0].message %> -
                <%= item.created_at %>
            </li>
         <% }); %>
    </script>
    <div >
        <ul id="contributions"></ul>
    </div>

    <div class="cleartopbar">
    </div>

    <script type="text/javascript" charset="utf-8">
        $(function() {
            // We could add more events
            $.get('https://api.github.com/users/javaguirre/events', function(data) {
                var target = $('#contributions');
                var items = _.filter(JSON.parse(data), function(elem) {
                    return elem.type == 'PushEvent';
                });
                var template = _.template($('script.template').html());
                var templateData = {
                    items: items
                };
                target.append(template(templateData));
            });
        });
    </script>
{% endblock %}
