{% extends 'base.html' %}

{% block content %}

    <div id="timeline-projects"></div>

    <div class="row search-filter">
        <div class="span5">
            <form class="form-search">
                <input type="text" placeholder="python"
                       class="input-large search-query">
                <a href="/about/me" class="pull-right">Former experience</a>
            </form>
        </div>
    </div>

    <div id="projects"></div>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        var timeline_config = {
            width:              '100%',
            height:             '600',
            source:             '/static/js/projects.json',
            embed_id:           'timeline-projects',
            start_at_end:       false,
            hash_bookmark:      true,
            css:                '/static/css/timeline/timeline.css',
            js:                 '/static/js/timeline-min.js'
        };
    </script>

    <script type="text/javascript" src="/static/js/storyjs-embed.js"></script>

    <script type="text/template" charset="utf-8" id="project-template">
        <% _.each(projects, function(project) { %>
            <div class="row project-block">
                <div class="span4 project">
                    <h3><%- project.headline %></h3>
                    <div class="tech">
                        <%- project.tech %>
                    </div>
                    <% if(project.caption) { %>
                        <p class="pull-left">
                            <a href="">
                                <span class="fui-cmd-24"> <%- project.caption %>
                            </a>
                        </p>
                    <% } %>
                    <% if(project.source) { %>
                        <p class="pull-left">
                            <a href="">
                                <span class="fui-new-24"> <%- project.source %>
                            </a>
                        </p>
                    <% } %>
                </div>
                <div class="span5">
                    <div class="description">
                        <%- project.description %>
                    </div>
                    <div class="contribution">
                        <%- project.contribution %>
                    </div>
                </div>
            </div>
        <% }); %>
    </script>

    <script type="text/javascript" charset="utf-8">
        $(function() {
            //TODO If #tech in the url then filter by that term
            $('.search-query').keyup(function() {
                if($(this).val().length > 2) {
                    $('.tech').parent().parent().hide();
                    $('.tech').filter(':contains(' + $(this).val() + ')').parent().parent().show();
                }
                else {
                    $('.tech').parent().parent().show();
                }
            });

            var template = _.template($('#project-template').html());

            $.get('/static/js/projects.json', function(data) {
                var projects = data.timeline.date;
                var templateData = {
                    projects: projects
                };

                $('#projects').append(template(templateData));
            });

            //$('.media-container').magnificPopup({
            //    type: 'image'
            //});
        });
    </script>
{% endblock %}
